
/*------------------------------------------------------------------------------------------- PAGE ACCUEIL ------------------------------------------------------------ */


#page {
    margin: 0 auto;
    width: 1200px;
     }


body {
    
	 background-color:lightblue;
}


div {
    overflow: hidden;
    text-align: center;
   }


div#img_titre_head
     {
	height:170px;
	background-color:red;
	position:relative;
	top:5px;
	left:223px;
	width:744px;
	
	}

 
#textbandeau span {
	font-size:28px;
	position:relative;
	top:7px;
}
.fond_head {
	position:absolute;
}

div#header {
	background: url("../images/fond-banniere1.jpg") no-repeat scroll left top transparent;
	height:214px;
	width:1190px;
	border:3px solid darkblue;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;	
	box-shadow: 6px 6px 0px black;
	opacity:0.8;
}
div#textbandeau {

}

div#bande {
	background: url(../images/bande_bleue.png);
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;	
	opacity:0.9;
	width:1194px;
	height:30px;
	line-height:27px;
	box-shadow: 6px 0px 0px black;
	margin: 0 0 15px;
	top:250px;
	color:white;
	font-weight: bold;
	
}


div#form
{
	width:1819px;
	background: transparent url('images/bg.jpg') no-repeat;
	font-family: arial, verdana, sans-serif;
	font-weight: bold;
    width: 578px;
	float:right;
	height: 30px;
}
div#bande .img
{
	float: left;
    height: 40px;
    margin: -6px 13px;
    width: 40px;
	opacity : 0.8;
}

div#bande .img:hover
{
	opacity : 1;
}

div#bande .img2
{
	float: left;
    height: 22px;
    margin: 4px 13px;
    opacity: 0.8;
    width: 42px;
}
div#bande .img2:hover
{
	opacity : 1;
}

div#bande .img3
{
	float: left;
    height: 22px;
    margin: 4px 13px;
    opacity: 0.8;
    width: 42px;
}
div#bande .img3:hover
{
	opacity : 1;
}


.boxlogin
{
	width: 150px;
	background: transparent url('images/textbox1.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}
	
	.boxmdp
{
	width: 150px;
	background: transparent url('images/textbox1.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;

}


div#contenu {
    background-color: rgba(192, 192, 192, 0.9);
    float: left;
    height: 564px;
    white-space: normal;
    width: 935px;
	padding-bottom:53px;
	color:#FFFFFF;
	box-shadow: 0px 0px 0px black;
	margin: 0 255px;
	border-color: white;
    border-style: solid;
    border-width: 3px;
	float:center;
	overflow:hidden
}

div#clear
{

clear : both;
}


div#article {
font-family:AvantGarde Md BT;
 }

div#bande2 {
    background: url(images/bande3.jpg);
	-moz-border-radius:7px 7px 0px 0px;	
	-webkit-border-radius:7px 7px 0px 0px;	
	border-radius:7px 7px 0px 0px;	
	opacity:0.9;
	width:1200px;
	height:30px;
	line-height:27px;
	box-shadow: 6px 0px 0px black;
	 
	
}

div#piedpagehaut {

 width: 1200px;
 height: 10px;
 background-color: rgba(192,0 , 0, 0.9);
 box-shadow: 6px 0px 0px black;
  float:left;
	
 
}

div#piedpagebas {

	background-color: rgba(75, 75, 75, 0.9);
	height: 199px;
    width: 1200px;
	box-shadow: 6px 0px 0px black;
	  float:left;
}


div#bande4 {
    
  width: 1200px;
 height: 2px;
 background-color: rgba(255,255 , 255, 0.9);
 box-shadow: 6px 0px 0px black;
 border-color:white;
   float:left;
 }
 
 

div#piedpagebas2
	{
	background-color: rgba(25,25 , 25, 1);
	color:white;
	width:1200px;
	height:45px;
	border-radius:0px 0px 7px 7px;	
	-moz-border-radius:0px 0px 7px 7px;
	-webkit-border-radius:0px 0px 7px 7px;
	  float:left;
	}

div#bande3 {
    border-width:1px;
    border-style:outset ;
    border-color:black;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;	
	opacity:0.9;
	width:900px;
	margin: 0 auto ;
  float:left;
}

div#hdp img {           
     border:0; 
     top:300px; 
     right:25px;
}


div#A_propos {

position:relative;
top:2px;
left: 149px;
font-weight:bold;
text-shadow:1px 0px 0px darkgrey;
width:300px;
height: 121px;
}

.Qui_sommes_nous
{
position:relative;
top:44px;
text-shadow: 0px 0 0 darkgrey;
	color:grey;
	width:300px;
	
}


div#autres {

 font-weight: bold;
    height: 121px;
    position: relative;
  right: -450px;
    text-shadow: 1px 0 0 darkgrey;
    top: -120px;
    width: 300px;
}

.Autre1
{
    position: relative;
    top: 48px;
	text-shadow: 0px 0 0 darkgrey;
	color:grey;
	width:300px;
}

div#trucs {

	font-weight: bold;
    height: 121px;
    position: relative;
	right: -750px;
    text-shadow: 1px 0 0 darkgrey;
    top: -240px;
    width: 300px;

}

div#trucs .trucs1
{
    position: relative;
    top: 48px;
	text-shadow: 0px 0 0 darkgrey;
	color:grey;
	width:300px;
}

div#menu {
    float: left;
    width: 225px;
	 height: 617px;
	 background-color: rgba(10, 10, 10, 0.9);
	 font-family: arial, verdana, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	border-color: white;
    border-style: solid;
    border-width: 3px;
	position:absolute;
}


.searchbox
{
	width: 132px;
	background: white  url('images/textbox2.png') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}
div#menu2{
    float: right;
    width: 225px;
	 height: 494px;
	 background-color: rgba(10, 10, 10, 0.9);
	color: #FFFFFF;
	border-color: white;
    border-style: solid;
    border-width: 3px;
	margin: 0 0 15px;
}



.wrap{
	padding:0;
	list-style:none;
	width:99%;
	font-size:18px;
	background:#cbcdd1;
	border: 1px solid rgba(0,0,0,0.8);
}

.wrap li a{
	display: block;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	border-top: 1px solid rgba(255,255,255, 0.2);
	background:#15191c;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
	color:#FFF;
	text-shadow: 1px 0px 1px rgba(0,0,0,0.2);
	filter: dropshadow(color=#000, offx=1, offy=0);
	padding:10px;
	padding-left:20px;
}

.wrap li ul li a{
	font-size:14px;
	color:#15191c;
	text-shadow: 1px 0px 1px rgba(255,255,255,0.5);
	filter: dropshadow(color=#000, offx=1, offy=0);
}

.wrap li a:hover{
	background:#2ba2bc;
}

.wrap ul{
	margin:0;
	padding:0;
	list-style:none;
	height:0;
	overflow: hidden;
	transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
}

.wrap li:hover ul{
	height:120px;
	overflow-y:auto;
	overflow-x:hidden;
}

.wrap ul li a{
	background:#cbcdd1;
}

.wrap ul li a:hover{
	background:#c1c1c1;
}

. ul li a img{
	margin-right:10px;
}


body .adherer 
{
color:white;
}


a span{ 
position:absolute; 
margin-top:23px;
margin-left:-35px;
color:#09c; 
background:rgba(0,0,0,.9); 
padding:15px; 
border-radius:3px; 
box-shadow:0 0 2px rgba(0,0,0,.5);
transform:scale(0) rotate(-12deg);
transition:all .25s;
opacity:0;
}
a:hover span, a:focus span{ 
transform:scale(1) rotate(0); 
opacity:1;
}















/*------------------------------------------------------------------------------------------- PAGE RECAPITULATIVE ------------------------------------------------------------ */





div#fiche_recap
{
margin:0 auto;
background-color: white;;
color:black;
}

table
{
margin:0 auto;

}
table td
{

background-color:white;
color:black;
}

table td b
{
 border-color:black;
border-width:2px;
}


b
{
border-width:1px;
 border-style:outset ;
 border-color:black;
}





/*------------------------------------------------------------------------------------------- CONTENU ADMIN ------------------------------------------------------------ */


div#contenu_admin
{

width:750px;
height:600px;
    box-shadow: 0 0 5px black;
	background-color:white;

}






/*------------------------------------------------------------------------------------------- FOOTER ADMINISTRATION ------------------------------------------------------------ */




div#footer_admin
{
 background-color:#0D4F8B;
    height: 200px;
    width: 1200px;
}



/*------------------------------------------------------------------------------------------- MENU ADMINISTRATION ------------------------------------------------------------ */


div#menu_admin
{
    height: 400px;
    position: relative;
    width: 260px;
	float:left;
}







article19 {
    background: none repeat scroll 0 0 #DDDDDD;
    font-size: 0.9em;
    height: 370px;
}
#article19 ul {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0 15px 15px 0;
    
  margin: 0;
    position: relative;
    width: 215px;
}
#article19 ul li {
    background: linear-gradient(#0000FA, #000080) repeat scroll 0 0 transparent;
    height: 62px;
    list-style: none outside none;
    position: relative;
    width: 215px;
}
#article19 ul li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #666666;
    border-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
    border-image: none;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px 1px 1px 15px;
    color: #222222;
    display: block;
    font-weight: bold;
    height: 56px;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 #888888;
    transition: background 0.5s ease 0s;
    width: 160px;
}
#article19 ul li a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #39004D;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    transition: background 0s ease 0s;
}
#article19 ul li a strong {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
}
#article19 ul li:first-child, #article19 ul li:first-child a {
    border-radius: 15px 0  0 0;
}
#article19 ul li:last-child, #article19 ul li:last-child a {
    border-radius: 0 0 15px  0;
}
#article19 ul li a:hover:after {
    background: none repeat scroll 0 0 #39004D;
    border-radius: 6px 6px 6px 6px;
    color: #9900CC;
    content: "";
    font-size: 0.6em;
    font-weight: normal;
    height: 12px;
    position: absolute;
    right: 5px;
    text-indent: 3px;
    top: 25px;
    width: 12px;
}
#article19 ul li a:hover:before {
    border-bottom: 3px solid transparent;
    border-left: 3px solid #9900CC;
    border-top: 3px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 9px;
    top: 28px;
    width: 0;
    z-index: 10;
}

div#bande_inscription
{
	font-family: arial, verdana, sans-serif;

background:linear-gradient( #1F5D86, #507AA7) repeat scroll 0 0 transparent;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(31, 93, 134, 1)), color-stop(44%,rgba(80, 122, 167, 1)), color-stop(100%,rgba(62, 131, 153, 1)));
background: -o-gradient(linear, left top, left bottom, color-stop(1%,rgba(31, 93, 134, 1)), color-stop(44%,rgba(80, 122, 167, 1)), color-stop(100%,rgba(62, 131, 153, 1)));




}
